body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-shrikhand: Shrikhand;

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-xl: 20px;
  --font-size-116xl-8: 135.8px;
  --font-size-21xl: 40px;
  --font-size-77xl: 96px;
  --font-size-13xl: 32px;
  --font-size-71xl-6: 90.6px;
  --font-size-45xl: 64px;
  --font-size-81xl: 100px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-cornflowerblue: #088ee2;
  --color-saddlebrown: #792917;
  --color-lemonchiffon: #fff6ce;
  --color-goldenrod-100: #fec663;
  --color-goldenrod-200: #fdc662;
  --color-orangered: #d93411;
  --color-dimgray: #7a5d55;
  --color-deepskyblue: #5ab9f4;
  --color-steelblue: #175679;
  --color-lightblue: #b7e2fd;
  --color-gold-100: #fcdc54;
  --color-gold-200: #fdd951;
  --color-lightcoral-100: #ef7589;
  --color-lightcoral-200: #ee7585;

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-215xl: 234px;
  --padding-193xl: 212px;
  --padding-3xs: 10px;
  --padding-39xl: 58px;

  /* border radiuses */
  --br-3xs: 10px;
  --br-16xl: 35px;
  --br-sm: 14px;
  --br-lgi: 19px;
  --br-8xs: 5px;
}
