.background-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.layout {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
}
.place {
    left: 4%;
    width: 10%;
}
.player {
    width: 57.5%;
}
.score {
    width: 25%;
}
.place,
.player,
.score {
    position: relative;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;
    text-transform: capitalize;
    font-size: 50%;
    color: var(--color-cornflowerblue);
    font-family: var(--font-shrikhand);
}
.tablerow {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 42vw;
  height: 5.5vh;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}
.scoretable {
    position: absolute;
    left: 29.29%;
    top: 31.5%;
    width: 42.1%;
    background-color: var(--color-white);
    color: var(--color-cornflowerblue);
    font-family: var(--font-shrikhand);
    font-size: var(--font-size-17xl);
    text-align: center;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-collapse: collapse;
}
.xbutton {
    position: absolute;
    top: 8%;
    left: 8%;
    width: 8vw;
    height: 8vw;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    background-image: url(./public/x-button@2x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.xbutton:hover {
  animation: 1s ease 0s infinite normal none shadow-inset-center;
  opacity: 1;
}
